body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: black;
}

/* Контейнер для кнопки та SVG */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Підняття SVG трохи вгору */
svg {
    overflow: visible;
    margin-top: -200px; /* Піднімаємо SVG */
}

/* Анімації */
svg path#line {
    fill: none;
    stroke: #e00000;
    stroke-width: 2;
    stroke-linecap: butt;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: dash 4s linear infinite;
}

svg path#heart {
    transform-origin: 50% 50%;
    animation: blink 4s linear infinite;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1;
    }
    80% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    60% {
        opacity: 0;
        transform: scale(0);
    }
    70% {
        opacity: 1;
        transform: scale(1.2);
    }
    75% {
        opacity: 1;
        transform: scale(1.0);
    }
    80% {
        opacity: 1;
        transform: scale(1.2);
    }
    85% {
        opacity: 1;
        transform: scale(1.0);
    }
    100% {
        opacity: 0;
        transform: scale(1.0);
    }
}
.btn {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 1.8rem;
    font-weight: bold;
    color: red; /* Red text */
    background: white; /* White background */
    border-bottom: 2px solid red; /* Red border */
    cursor: pointer;
    border-radius: 25px; /* More rounded shape */
    box-shadow: 0 5px 10px red; /* Shadow only at the bottom */
    transition: 0.3s;
}
  
.btn:hover {
    background: white;
    color: darkred; /* Darker red on hover */
    box-shadow: 0 8px 15px red; /* Stronger shadow on hover */
}
